// OTCBid.module.scss

.container {
    padding: 0 100px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .action-button {
      width: 48%; // 2% margin
      input {
        width: 100%;
      }
    }
  }
  
  .text-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .text-input {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
  
  .amount-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .amount-field {
      width: 48%; // 2% margin
      input {
        width: 100%;
      }
    }
  }
  
  .delivery-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .delivery-field {
      width: 48%; // 2% margin
      input {
        width: 100%;
      }
    }
  }
  
  .option-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .option-button {
      width: 32%; // 2% margin
      input {
        width: 100%;
      }
    }
  }
  
  .additional-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  
    .info-input {
      width: 32%; // 2% margin
      textarea {
        width: 100%;
      }
    }
  }
  
  .button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  