/* Registration.module.scss */
.registration-container {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Регулируйте отступ по вашему усмотрению */
  }
  
  .registration-column {
    width: 48%; /* Регулируйте ширину колонок по вашему усмотрению */
  
    .input-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input, select, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
      }
    }
  
    .section-title {
      margin-top: 20px;
      font-weight: bold;
    }
  }
  
  .register-button {
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  